body {
  background-color: black;
}

.App {
  display: grid;
  font-family: sans-serif;
  font-size: 24px;
  -webkit-text-fill-color: white;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding-top: 70px;
}

.razmak {
  min-height: 230px;
  color: black;
  margin-top: 230px;
}

.razmak1 {
  min-height: 450px;
  color: rgba(242, 185, 33, 1);
  margin-top: 450 px;
}

.App1 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: rgba(242, 185, 33, 1);
  font-family: sans-serif;
  font-size: 24px;
  -webkit-text-fill-color: white;
  align-content: end;
  justify-content: center;
  align-items: end;
  justify-items: center;
  padding-top: 800px;
}

.lastRow {
  font-size: 30px;
}

.nav {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  color: white;
  text-decoration: none;
}

.link {
  color: white;
}

.naslov {
  text-align: center;
  color: black;
  -webkit-text-fill-color: black;
  background-color: rgba(242, 185, 33, 1);
  width: 60%;
  border-bottom: 5px solid black;
}

.table {
  /* width: 1700px;*/
  /*border: 10px solid white;*/
  border-collapse: collapse;
}

th {
  font-size: 20px;
  /*background-image: url(/OLP5.png);*/
  background-color: rgba(242, 185, 33, 1);
  -webkit-text-fill-color: black;
  /*border: 10px solid black;*/
  /*border: 5px solid black;*/
  height: 50px;
  border: 0;
}

td {
  /*background-image: url(/OLP5.png);*/
  /*border: 5px solid black;*/
  height: 50px;
}

td:nth-child(1) {
  background-color: rgba(255, 0, 0, 0.5);
  border: 5px solid rgba(242, 185, 33, 1);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  font-weight: bold;
  width: 100px;
  text-align: left;
  padding: 5px;
  text-align: center;
}

td:nth-child(2) {
  background-color: rgba(255, 0, 0, 0.5);
  border: 5px solid rgba(242, 185, 33, 1);
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  width: 800px;
  padding: 5px;
}

td:nth-child(3) {
  text-align: left;
  background-color: rgba(255, 0, 0, 0.5);
  border: 5px solid rgba(242, 185, 33, 1);
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  width: 250px;
  padding: 5px;
  text-align: center;
  text-transform: capitalize;
}

td:nth-child(4) {
  background-color: rgba(255, 0, 0, 0.5);
  border: 5px solid rgba(242, 185, 33, 1);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  font-weight: bold;
  width: 200px;
  padding: 5px;
  text-align: center;
}

.header-100 {
  width: 100px;
}

.header-800 {
  width: 800px;
}